*.h
*.in
*.m4
*.mk
*.ml
*.gcc
*.dot
*.log
*.txt
*.msvc
*.cache
*.guess
*.status
*.sub
*.itarget

bin
obj
gui
lib
doc
docs
core
install-sh
configure
ocaml-4.02.1
ocamlutil
programs
src
test
z3

META
META.in
Makefile
Makefile.features
TODO
Testgen
_tags
.DS_Store

Testgen.sh

node_modules
